<head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="exercise">
        <div>
            <button @click="isShown = !isShown">Toggle</button>
            <p v-if="isShown">You either see me ...</p>
            <!--<p v-if="!isShown">...or me</p>-->
            <p v-else>...or me</p>
            <p v-show="isShown">You either see me ...</p>
            <p v-show="!isShown">...or me</p>
        </div>
        <ul>
            <li v-for="(element, index) in array">{{ element }} - {{ index }}</li>
        </ul>
        <ul>
            <li v-for="(value, keyName, i) in myObject">{{ value }} - {{ keyName }} - {{ i }}</li>
        </ul>
        <ul>
            <li v-for="value in testData">
                <template v-if="Array.isArray(value)">
                    <div v-for="element in value"> {{ element }}</div>
                </template>
                <template v-else>
                    {{ value }}
                </template>
            </li>
        </ul>
    </div>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
</body>

